.topright {
    position: absolute; 
    right: 16px;
}

.main {
    display: flex;
    justify-content: center;
}

table {
    width: 100%;
    table-layout:fixed
}

tr:nth-child(odd) {
    background-color: #eee;
}

th {
    background-color: #555;
    color: #fff;
}

th,
td {
text-align: left;
padding: 0.5em 1em;
}

h1 {
    padding: 0 0.5em 0em;
}

@media (max-width: 385px) {
    body {
        margin: 0;
    }

    .form-container {
        margin: 10px;
    }

    th,
    td {
    text-align: center;
    padding: 0.5em 0.5em;
    }
}

@media (max-width: 415px) {
    /* body {
        margin: 0;
    } */

    /* .form-container {
        margin: 10px;
    } */

    th,
    td {
    text-align: center;
    /* padding: 0.5em 0.5em; */
    }
}